/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */


@font-face{
  font-family:  'Prompt-Regular';
  src : url('/fonts/Prompt-Regular.ttf');
}
@font-face{
  font-family:  'Prompt-Bold';
  src : url('/fonts/Prompt-Bold.ttf');
}
@font-face{
  font-family:  'Prompt-Medium';
  src : url('/fonts/Prompt-Medium.ttf');
}
@font-face{
  font-family:  'Frontage';
  src : url('/fonts/FrontageCondensed-Outline.otf');
}
@font-face{
  font-family:  'Knomphing-bold';
  src : url('/fonts/knomphing/FC Knomphing Bold.ttf');
}
@font-face{
  font-family:  'Little-print';
  src : url('/fonts/Little Print.otf');
}
@font-face{
  font-family:  'aqua';
  src : url('/fonts/aqua.ttf');
}

h1 ,h2 ,h3 , h4 , h5 ,h6 {
  font-family: 'Prompt-Medium' ;
}

.title{
  font-family:  'Prompt-Regular';
}

.fontage{
  font-family:  'Frontage';
}
.knomphing{
  font-family:  'Knomphing-bold';
}
.little-print{
  font-family:  'Little-print';
}
.aqua{
  font-family:  'aqua';
}